.gradient-1 {
    background: linear-gradient(90deg, #190F33 0%, #0037A5 48.3%, #6933FF 100%);
}
.gradient-2 {
    background: linear-gradient(90deg, #0037A5 0%, #6933FF 50.38%, #00FCED 100%);
}
.gradient-3 {
    background: linear-gradient(90deg, #0037A5 0%, #6933FF 100%);    
}
.gradient-4 {
    background: linear-gradient(90deg, #6933FF 0%, #00FCED 100%);
}
.gradient-5 {
    background: linear-gradient(90deg, #190F33 0%, rgba(25, 15, 51, 0) 100%);
}
.gradient-6 {
    background: linear-gradient(90deg, #0037A5 0%, rgba(0, 55, 165, 0) 100%);
}
.gradient-7 {
    background: linear-gradient(90deg, #6933FF 0%, rgba(105, 51, 255, 0) 100%);
}
.gradient-8 {
    background: linear-gradient(90deg, #00FCED 0%, rgba(0, 252, 237, 0) 100%);
}

.white-h1 h1 {
    color: white;
}
.white-h2 h2 {
        color: white;
}
.white-h3 h3 {
        color: white;
}
.white-h4 h4 {
        color: white;
}
.white-h5 h5 {
        color: white;
}
.white-h6 h6 {
        color: white;
}
.uppercase-h1 h1 {
        text-transform: uppercase;
}
.uppercase-h2 h2 {
        text-transform: uppercase;
}
.uppercase-h3 h3 {
        text-transform: uppercase;
}
.uppercase-h4 h4 {
        text-transform: uppercase;
}
.uppercase-h5 h5 {
        text-transform: uppercase;
}
.uppercase-h6 h6 {
        text-transform: uppercase;
}
.capitalize-h1 h1 {
        text-transform: capitalize;
}
.capitalize-h2 h2 {
        text-transform: capitalize;
}
.capitalize-h3 h3 {
        text-transform: capitalize;
}
.capitalize-h4 h4 {
        text-transform: capitalize;
}
.capitalize-h5 h5 {
        text-transform: capitalize;
}
.capitalize-h6 h6 {
        text-transform: capitalize;
}